.search__bar {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: max-content;
  margin-top: 50px;
  
}

.form__group span {
  font-size: 1.8rem;
  color: #ee6e6e;
}

.form__group input {
  border: none;
  font-size: 0.9rem;
  color: var(--heading-color);
  font-weight: 500;

}

.form__group input:focus {
  outline: none;
  
}

.form__group h6 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}

.form__group-fast {
  border-right: 2px solid #ddd;
  padding-right: 1rem;
}

.search__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0.5em;
  background: var(--secondary-color, #ee6e6e);
  color: #fff;
  border-radius: 10px 5px 10px 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search__icon:hover {
  background-color: #ed6868;
}

.search__icon:active {
  transform: scale(0.95);
}
